@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/*footer*/
#footer{position: relative; background: #333; padding: 30px 40px; color: white;}
#footer p{text-align: end;}
#footer .box{background: rgb(83, 83, 83); padding: 10px 15px; border-radius: 8px;}
#footer .box img{width: 100%;}
#footer .info{width: 630px;}
#footer h1{font-weight: bold; color: grey; font-family: 'Sriracha', cursive; letter-spacing: 1px;}

@media screen and (max-width: 1200px){
    #footer ul{margin-bottom: 20px;}
    #footer ul:last-child{margin-bottom: 10px;}
    #footer p{text-align: inherit;}
    #footer .info{width: 100%;}

}

@media screen and (max-width: 500px){
    #footer{padding: 20px;}
    #footer .box{width: 100%;}
    #footer .f_logo img{margin-left: 2px;}
}