@charset "utf-8";


#header .logo h1{font-weight: bold; font-family: 'Sriracha', cursive; letter-spacing: 1px;}
#header .nav{font-size: 1.1rem; font-weight: bold;}
#header .nav .lnb{float: left;}
#header .nav .lnb>a{padding: 20px 50px; text-align: center;}
#header .nav .lnb:last-child>a{padding-right: 0;}
#header .nav .lnb::before{content: '/'; position: absolute; top: 28px; transform: translateY(-50%); color: #ccc; font-weight: 100;}
#header .nav .lnb:first-child:before{content: '';}
#header .nav .lnb ul.dap2{display: none; width: 100%; background: #6E9EFF; position: absolute; left: 0;border-top: 1px solid #eee; box-shadow: 0 30px 30px 0 rgba(71, 71, 71, 0.2); z-index: 10;}
#header .nav .lnb ul.dap2 li.lnb_tit{width: calc((1170px - 21px*11)/12*2 + (125vw - 1170px)/2 + 24px); padding: 0 25px 0 calc((99vw - 1170px)/2); position: relative; float: left;}
#header .nav .lnb ul.dap2 li.lnb_tit p{position: absolute; top: 42%; left: 65%; font-size: 2.5rem; color: white; font-family: 'Kanit', sans-serif;font-weight: 100;}
#header .nav .lnb ul.dap2>li.lnb_tit p::after{content: ''; position: absolute; left: 50%; transform: translateX(-50%); border-top: 2px solid; width: 60px;}
#header .nav .lnb ul.dap2 li.lnb_cont{width: calc((1170px - 42px*11)/2*2 + (100vw - 1170px)/2 + 24px); padding: 40px calc((100vw - 1170px)/2) 60px 50px; float: right; background: white;}
#header .nav .lnb ul.dap2 li.lnb_cont ul.dap3{align-items: flex-start;}
#header .nav .lnb ul.dap2 li.lnb_cont ul.dap3>li>a{background: white; width: 200px; padding: 7px 8px 6px 20px; border: 1px solid #C6C6C6; border-radius: 50px; margin-bottom: 15px;}
#header .nav .lnb ul.dap2 li.lnb_cont ul.dap3>li ul.dap4>li>a{padding: 0 18px; margin-top: 15px; font-size: 15px; display: inline-block;}
#header .nav .lnb ul.dap2 li.lnb_cont ul.dap3>li ul.dap4>li:hover>a{text-decoration: underline;}
#header .nav .lnb ul.dap2 li.lnb_cont ul.dap3>li ul.dap4>li>a::before{content: ""; display: inline-block; vertical-align: 4px; width: 5px; height: 5px; margin-right: 10px; border-radius: 50%; background-color: #0065E8;}

/*모바일 햄버거*/
#header .h_moblie {display: none; position: static;}
#header .h_moblie.active{position: absolute; background: white; width: 100%; top: 60px; left: 0;}
#header .h_moblie .bg{background: #333842; height: 1000px;}
#header .h_moblie .main_menu>li>a{color: white; background: #2b2f3e; padding: 20px; border-top: 1px solid #111319; font-size: 20px; font-weight: bold; align-items: center;display: flex; justify-content: space-between;}
#header .h_moblie .main_menu>li ul.snd_menu{display: none;}
#header .h_moblie .main_menu>li ul.snd_menu>li>a{color: #222; background: #eee; padding: 20px; display: block; border-top: 1px solid #ccc;display: flex; justify-content: space-between; align-items: center; height: 65px;}
#header .h_moblie .main_menu>li ul.trd_menu{display: none;}
#header .h_moblie .main_menu>li ul.trd_menu>li>a{color: #222; background: white; padding: 20px; display: block; border-top: 1px solid #ccc;}
#header .top_menu{height: 60px;display: none;}
#header .top_menu .star {display: none;}
#header .top_menu .wrap{justify-content: center; height: 100%; padding-left: 20px;}
#header .fas {display: none; border-radius: 4px; font-size: 25px;}
#header .fa-times, #header .menu {display: none; overflow: hidden;}
#header .fa-bars {z-index: 40000;}
#header .top_menu .menu .menu_bg, #header .top_menu .menu .snb {width: 0;}
#header .top_menu .gnb li {margin-left: 0; margin-bottom: 20px; display: block;}
#header .top_menu .menu .snb {position: absolute; top: -30px; left: 180px;}
#header .top_menu .menu .snb .lnb>ul>li {margin: 0; color: white;}
#header .top_menu .menu .rnb>a {padding: 0;}
#header .top_menu .fa-bars {display: block;}
#header .fa-bars.active{display: none;}
#header .fa-times {z-index: 100;}
#header .h_moblie.active, #header .fa-times.active {display: block; z-index: 20;}
#header .f_rigth{font-size: 25px;}

@media screen and (max-width: 1200px){
    #header{padding: 0 20px;}
}
@media screen and (max-width: 850px){
    #header .top_menu{display: block;}
    #header .nav{display: none;}
}
@media screen and (max-width: 500px){
    #header .logo .main_logo img{width: 25px;}
}