@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: black;}

div, dl, dt, dd, ul, li, p, table, button, select, input, textarea {font: inherit; font-style: normal; letter-spacing: inherit; color: inherit;}
h1{font-size: 1.8rem;}
h2{font-size: 1.3rem;}
h3{font-size: 1.25rem; line-height: 1.6;}




.blue{color: #0065E8;}