@charset "utf-8";
*{margin: 0; padding: 0; box-sizing: border-box; font-size: 13.5px;}
li{list-style: none;}
a{text-decoration: none; color: black; display: block;}

/*공통*/
.inner{width: 1170px; margin: 0 auto;}
.wrap{display: flex; flex-flow: row wrap; justify-content: space-between;}
.content{width: 100%; padding: 100px 0; background: #040a3a; background-size: cover;}
.box{background: #0d1f5c;}
h2{font-size: 15px; padding-bottom: 20px; color: #ea3395;}
p{line-height: 20px; color: darkgrey;}
select{margin-right: 5px;}

@media screen and (max-width: 1200px){
    .inner{width: 100%;}
    .content{padding: 80px 30px;}
}
@media screen and (max-width: 768px){
    .content{padding: 60px 20px;}
}
@media screen and (max-width: 640px){
    .content{padding: 50px 10px;}
}
@media screen and (max-width: 340px){
    .content{padding: 50px 0px;}
}



/*#header*/
#header .title{background: url(../img/bg-gnb-tft.png) 100% no-repeat; padding: 50px 0;}
#header .title .logo{display: inline-block;}
#header .title .logo::before{content: '롤체지지'; color: #ea3395; float: right;}
#header .title .search{float: right; background: white; padding: 8px 15px; margin-top: 20px;}
#header .title .search select, #header .title .search .fa-search{color: crimson;}
#header .title .search .fa-search{float: right; line-height: 20px;}
#header .title .search select, #header .title .search .summoner_search{border: none;}
#header .title .search .summoner_search{width: 40%;}

#header .menu{background: rgba(0,0,0,0.9); padding: 10px 0;}
#header .menu .gnb{height: 25px; display: flex; align-items: center;}
#header .menu .gnb li a{margin-right: 20px; color: #ddd;}
#header .menu .gnb li a:hover{border-bottom: 4px solid white;}
#header .menu .gnb li:first-child a{border: 1px solid #ea3395;color: #ea3395; padding: 3px;}
#header .menu .gnb li:first-child a:hover{background: #ea3395; color: black; border: none;}

#header .update{background: #5b4ba5;}
#header .update a{color: white; padding: 15px 0;}
#header .update a span{color: aqua;}

@media screen and (max-width: 1200px){
    #header .inner{padding: 0 40px;}
}
@media screen and (max-width: 640px){
    #header .inner{padding: 0 20px;}
    #header .title{padding: 0 0 50px 0;}
    #header .title .logo img{width: 150px; padding: 10px 0;}
    #header .title .logo::before{display: none;}
    #header .title .search{display: flow-root; float: none;}
    #header .menu .gnb li a{margin-right: 11px;}
    #header .menu .gnb{flex-direction: column; flex-wrap: wrap; overflow: hidden; justify-content: center;}
    
}

/*#type-1*/
#neon_night{background: url(../img/sub1-content/bg-main.jpg); background-size: cover;}
#neon_night h2{padding-bottom: 0; color: white; text-align: center; font-size: 18px;}
#neon_night p{color: white; padding: 5px 0;}
#neon_night p:last-child{color: pink;}
#neon_night .title{text-align: center; margin-bottom: 50px;}
#neon_night .sub{display: flex; flex-flow: row wrap; justify-content: space-between; padding: 30px 0;}
#neon_night .sub li a{width: 180px; background: #ea3395; padding: 15px 25px; text-align: center; color: white; border-radius: 5px;}

@media screen and (max-width: 1200px){
    #neon_night .sub li a{width: 320px; margin-bottom: 5%;}
    #neon_night .sub{justify-content: space-evenly;}
}
    
@media screen and (max-width: 640px){
    #neon_night .title img{width: 100%;}
    #neon_night .sub{justify-content: center;}
}

/*#type-2*/
#Notable_features .box{width: 380px;}
#Notable_features .box .pic img{width: 100%;}
#Notable_features .box .info{height: 200px; color: white; padding: 20px;}
#Notable_features .box .info h3{padding-bottom: 15px;}

@media screen and (max-width: 1200px){
    #Notable_features .box{width: 48.8%; margin-bottom: 3%;}
}
    
@media screen and (max-width: 640px){
    #Notable_features .box{width: 100%; margin-bottom: 5%;}
}


/*#type-3*/
#new_synergy .box{width: 280px; height: 470px; display: flex; flex-direction: column; justify-content: space-between; padding: 20px; margin-bottom: 20px;}
#new_synergy .box p{padding: 20px 0;}
#new_synergy .box .whole_box{display: flex; align-items: center;}
#new_synergy .box .whole_box h3{font-size: 15px; color: white; margin-left: 5px;}
#new_synergy .box .whole_box h3 span{margin-left: 5px; color: gray;}
#new_synergy .box .whole_box .icon{width: 50px; height: 50px; background: url('../img/icon/black.svg'); padding: 10px;}
#new_synergy .box .whole_box .icon img{width: 30px; height: 30px;}
#new_synergy .box .sub{display: flex; flex-wrap: wrap;}
#new_synergy .box .sub li{margin-right: 5px; border-radius: 5px; margin-bottom: 5px;}
#new_synergy .box .sub img{width: 40px; height: 40px;}
#new_synergy .box .sub .grey{border: 2px solid grey;}
#new_synergy .box .sub .green{border: 2px solid #11b288;}
#new_synergy .box .sub .blue{border: 2px solid #207ac7;}
#new_synergy .box .sub .pink{border: 2px solid #c440da;}
#new_synergy .box .sub .yellow{border: 2px solid #ffb93b;}
#new_synergy .button a{border: 1px solid #ea3395; margin-top: 30px; padding: 20px 0; color: white; text-align: center; background: url(../img/sub1-content/bg-btn-tft6-5.png); border-radius: 5px;}

@media screen and (max-width: 1200px){
    #new_synergy .box{width: 48.8%;}
}
    
@media screen and (max-width: 640px){
    #new_synergy .box{width: 100%;}
}
/*#type-4*/
#new_champion h2:nth-child(3){margin-top: 50px;}
#new_champion .box{width: 280px; margin-bottom: 20px;}
#new_champion .hidden{background: none;}
#new_champion .box img{width: 100%;}
#new_champion .box p{padding: 20px 0;}
#new_champion .box .pic{position: relative;}
#new_champion .box .pic h3{width: 100%; background: rgba(0,0,0,0.5); padding: 15px; position: absolute; bottom: 0; color: white;}
#new_champion .box .info{height: 350px; padding: 20px;}
#new_champion .box .whole_box{display: flex; align-items: center;}
#new_champion .box .whole_box h4{font-size: 15px; color: white; margin-left: 10px;}
#new_champion .box .whole_box .skill img{width: 40px; border-radius: 10px;}
#new_champion .box>.button>a{background: #102c8b; text-align: center; color: white; padding: 15px 0;}
#new_champion .inner>.button>a{border: 1px solid #ea3395; margin-top: 30px; padding: 20px 0; color: white; text-align: center; background: url(../img/sub1-content/bg-btn-tft6-5.png); border-radius: 5px;}

@media screen and (max-width: 1200px){
    #new_champion .box{width: 48.8%;}
}
    
@media screen and (max-width: 640px){
    #new_champion .box{width: 100%;}
}

/*#type-5*/
#neon_night_end{background: url('../img/sub1-content/bg-goto-top.png'); background-size: cover;}
#neon_night_end .inner{text-align: center;}
#neon_night_end .inner h2{color: white; font-size: 20px;}
#neon_night_end .inner a{width: 200px; margin: 0 auto; color: white; padding: 20px 0; background: linear-gradient(270deg,#2540ea,#ea3395); border-radius: 5px;}

@media screen and (max-width: 1200px){
    
}
    
@media screen and (max-width: 640px){
    
}

/*#footer*/
#footer{background: black; padding: 20px;}
#footer .inner a{display: inline;}
#footer .inner a, #footer .inner h2, #footer .inner p{padding: 10px 0;  color: gray;}





